.container {
    display: flex;
    justify-content: center;
}

/* row representing each coin */

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 75%;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    transition: ease-in-out 400ms;
}

.title_row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 75%;
    font-size: 16px;
    border-bottom: 1px solid rgb(214, 172, 253, 0.5);
    padding: 5px;
}

.row:hover {
    background:rgba(214, 172, 253, 0.1);
    transition: ease-in-out 400ms;
    padding: 1px;
}

.row > * {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

.title_row > * {
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}


/* containers (sections) within the row */

.info_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_section > * {
    display: flex;
    flex-basis: 100%;
    margin-left: 10%;
}

.data_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data_section > * {
    display: flex;
    flex-basis: 100%;
    margin-right: 10%;
}


/* elements within the info section */

.image {
    max-width: 40px;
    height: auto;
}

.name {
    font-weight: 800;
}

.symbol {

}


/* elements within the data section */

.current_price {

}

.total_volume {

}

.market_cap {

}

.positive_change {
    color: rgb(125, 255, 164);
}

.negative_change {
    color: rgb(255, 125, 125);
}


/* screen size: 1024 */

@media only screen and (max-width: 1024px) {
    .row {
        font-size: 12px;
        transition: ease-in-out 400ms;
    }

    .market_cap {
        display: none;
    }

    .market_cap_title {
        display: none;
    }
}

/* screen size: 768 */

@media only screen and (max-width: 768px) {
    .row {
        font-size: 12px;
        transition: ease-in-out 400ms;
    }

    .total_volume {
        display: none;
    }

    .total_volume_title {
        display: none;
    }
}